* {margin: 0; padding: 0; color: #1f3a53;}
section{width: 657px; height: 1500px; margin-left: 50px; margin-top: 50px;}
.container{padding-bottom: 30px; margin-bottom: 30px; border-bottom: 1px solid #ebebeb;}
.cont{padding-bottom: 30px; margin-bottom: 30px;
      border-bottom: 1px solid #ebebeb;}
h4{font-size: 40px; color: #1f3a53; font-weight: bold;
   margin-bottom: 25px; line-height: 1.1;}
p{font-size: 16px; line-height: 1.5;}
img{width: 100%;}
.cTxt{font-size: 18px; font-weight: bold; margin-bottom: 20px; line-height: 1.3;}