{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
  <title>글쓰기</title>
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500,700,900&display=swap&subset=korean" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/style.css'%}">
  <link rel="stylesheet" href="{% static 'css/write.css'%}">
  <script>
    function readURL(input){
      //alert(input + " 이미지가 추가되었습니다.")
      if(input.files && input.files[0]){
        var reader = new FileReader();
        reader.onload = function(e){
          document.getElementById('preview').src = e.target.result;
        }
        reader.readAsDataURL(input.files[0])
      }else{
        document.getElementById('preview').src = ""
      }
    }
    
    function readURL(input){
      if(input.files && input.files[0]){
        var reader = new FileReader();
        reader.onload = function(e){
          document.getElementById('preview').src = e.target.result;
        }
        reader.readAsDataURL(input.files[0])
      }else{
        document.getElementById('preview').src = ""
      }
    }
    if ("{{wmsg}}" == "1"){
      alert("게시글이 저장되었습니다.")
      location.href = '/board/blist/';
    }
    function writeBtn(){
      if ($("#btitle").val().length<1){
        alert("제목을 입력하셔야 저장이 가능합니다.");
        $("#btitle").focus()
        return false;
      }
      writeFrm.submit()
    }

  </script>
</head>
<body>
<section>
    <h1>글쓰기</h1>
    <hr>

    <form action="/board/bwrite/" name="writeFrm" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <table>
        <colgroup>
          <col width="15%">
          <col width="85%">
        </colgroup>
        <tr>
          <th>작성자</th>
          <td>
            {{request.session.session_id}}
          </td>
        </tr>
        <tr>
          <th>제목</th>
          <td>
            <input type="text" name="btitle" id='btitle'>
          </td>
        </tr>
        <tr>
          <th>내용</th>
          <td>
            <textarea name="bcontent" cols="50" rows="10"></textarea>
          </td>
        </tr>
        <tr>
          <th>이미지 표시</th>
          <td>
            <input type="file" name="bfile" id="file">
          </td>
        </tr>
        {% comment %} <td id="txt">
          <img id="preview" src="" style="width: 100px; height: 100px;">
        </td> {% endcomment                                                                                                                                                                                                          %}
      </table>
      <hr>
      <div class="button-wrapper">
        <button type="button" onclick='writeBtn()' class="write">작성완료</button>
        <button type="button" class="cancel" onclick="javascript:location.href='/board/blist/'">취소</button>
      </div>
    </form>

  </section>

</body>
</html>